@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+KR:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
}
body { width: 100vw;}
::-webkit-scrollbar { display:none;}
.content-box {display: flex; flex-direction: row;}

h2 {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height:1.3;
    border-bottom:3px solid; 
    display:inline-block;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    
}

li {
    list-style-type: none;
}

.header {
    padding-top: 3%;
    width: 92%;
    margin: 0 auto;
    color: white;
}

#ex {
    float: right;
}


.contents {
    padding-top: 80px;
    padding-left: 80px;
    margin-bottom: 10px;
    float: left; 
    width: 500px; 
    height: 1220px;
    
}

.contents div {
    margin-bottom: 20px;
}

.contents p{
   
    margin-bottom: 5px;
}
#title {
    font-size: 3rem;
    margin-bottom: 5px;
}

.contents_2 {
    float: left;
    width: 850px; 
    height: 1220px;
    margin-bottom: 10px;
    padding-top: 80px;
    padding-left: 30px;
    text-align: center;
    overflow: auto;
}

.contents_2::-webkit-scrollbar {
    display: none;
}


.contents_3{
    width: 1350px;
    height: 180px;
    padding: 60px 60px 0px 80px;
    
}

.contents_4 {
    position: fixed;
    left: 1000px;
    top: 125px;
    width: 600px;
    height: 150px;
    padding: 60px 60px 50px 80px;
    background: none;
}

.contents_4 p {
    background: none;
    font-size: 35px;
    padding-top: 40px;
    font-family: 'Black Han Sans', sans-serif;
}

footer {
    padding: 3% 0;
    width: 92vw;
    margin: 0 auto;
    color: white;
}

div.footer_box {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

#footer_logo {
    float: right;
    padding-top: 10px;
}

